<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/box-mark.svg">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/box-mark.svg">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/box-mark.svg">
  <link rel="mask-icon" href="assets/box-mark.svg" color="#ce5564">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link href="http://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
