<head>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta charset="utf-8">
  <link href="assets/box-mark.svg" rel="apple-touch-icon" sizes="180x180">
  <link href="assets/box-mark.svg" rel="icon" sizes="32x32" type="image/png">
  <link href="assets/box-mark.svg" rel="icon" sizes="16x16" type="image/png">
  <link color="#ce5564" href="assets/box-mark.svg" rel="mask-icon">
  <title>{{ page.title }}
    -
    {{ site.title }}</title>
  <link href="//unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
